<div class="dashboard">
    <div class="container-fluid">
        <a href="#" class="item block shadow-sm">
            <div class="item-header">
                <h6>Hiring</h6>
            </div>
            <div class="d-block m-auto">
                <img class="img-fluid" src="assets/static/icons/approved.svg" />
            </div>
        </a>

        <a href="#" class="item block shadow-sm">
            <div class="item-header">
                <h6>Medical, Dental &amp; Vision</h6>
            </div>
            <div class="d-block m-auto">
                <img class="img-fluid" src="assets/static/icons/health.svg" />
            </div>
        </a>

        <a href="#" class="item block shadow-sm">
            <div class="item-header">
                <h6>Payroll</h6>
            </div>
            <div class="d-block m-auto">
                <img class="img-fluid" src="assets/static/icons/money.svg" />
            </div>
        </a>

        <a href="#" class="item block shadow-sm">
            <div class="item-header">
                <h6>Life &amp; Disability Insurance</h6>
            </div>
            <div class="d-block m-auto">
                <img class="img-fluid" src="assets/static/icons/shield.svg" />
            </div>
        </a>

        <a routerLink="/user/employees" class="item block shadow-sm">
            <div class="item-header">
                <h6>Employees</h6>
            </div>
            <div class="d-block m-auto">
                <img class="img-fluid" src="assets/static/icons/employees.svg" />
            </div>
        </a>

        <a href="#" class="item block shadow-sm">
            <div class="item-header">
                <h6>Time &amp; Attendance</h6>
            </div>
            <div class="d-block m-auto">
                <img class="img-fluid" src="assets/static/icons/stopwatch.svg" />
            </div>
        </a>

        <a href="#" class="item block shadow-sm">
            <div class="item-header">
                <h6>Paid Time off(PTO)</h6>
            </div>
            <div class="d-block m-auto">
                <img class="img-fluid" src="assets/static/icons/money(PTO).svg" />
            </div>
        </a>

        <a href="#" class="item block shadow-sm">
            <div class="item-header">
                <h6>IT Provisioning</h6>
            </div>
            <div class="d-block m-auto">
                <img class="img-fluid" src="assets/static/icons/organization.svg" />
            </div>
        </a>
        <a href="#" class="item block shadow-sm">
            <div class="item-header">
                <h6>401K</h6>
            </div>
            <div class="d-block m-auto">
                <img class="img-fluid" src="assets/static/icons/profits.svg" />
            </div>
        </a>
        <a href="#" class="item block shadow-sm">
            <div class="item-header">
                <h6>Commuter Benefits</h6>
            </div>
            <div class="d-block m-auto">
                <img class="img-fluid" src="assets/static/icons/benefits.svg" />
            </div>
        </a>
        <a href="#" class="item">
            <span class="display-4 align-middle bg-secondary text-white rounded-circle item-add"><i class="fa fa-plus"
                    aria-hidden="true"></i>
            </span>
        </a>
    </div>
</div>