<section>

  <div class="sort-field card rounded-0 border-0 shadow-sm mb-4">
    <div class="card-body">
      <form>
        <div class="form-row">
          <div class="col-7">
            <label for="search-field">Search</label>
            <input type="text" class="form-control" id="search-field" placeholder="Search">
          </div>
          <div class="col">
            <label for="sortby1">Sort By</label>
            <select class="custom-select mr-sm-2" id="sortby1">
              <option value="name" selected>Name</option>
              <option value="hire">Hire Date</option>
            </select>
          </div>
          <div class="col">
            <label for="sortby2">Sort By</label>
            <select class="custom-select mr-sm-2" id="sortby2">
              <option value="fulltime" selected>Full-time</option>
              <option value="recent">Recently Added</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="pt-1 text-left" *ngIf="message">
     <p> {{message}}</p>
    </div>

  <div class="pt-1 text-right">
    <a class="btn btn-custom btn-blue text-white shadow-sm" routerLink="/user/onboard"><i class="fa fa-plus pr-2" aria-hidden="true"></i> Onboard Employee</a>
  </div>

  <div class="p-3">
    <div class="row header">
      <div class="col-md-1 border-right">
        <div class="custom-control custom-checkbox mr-sm-2">
          <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
          <label class="custom-control-label" for="customControlAutosizing">Select All</label>
        </div>
      </div>
      <div class="col-md-3">
        Employee Name
      </div>
      <div class="col-md-1">
        Status
      </div>
      <div class="col-md-2">
        Contact
      </div>
      <div class="col-md-2">
        Hire Date
      </div>
      <div class="col-md-2">
        Pay Salary
      </div>
      <div class="col-md-1 text-center">
        Actions
      </div>
    </div>

    <div class="row">
      <div class="mb-5 w-100">
        <div class="card my-1 shadow-sm w-100" *ngFor="let data of datas;let idx= index">
          <div class="card-body p-2">
            <div class="row">
              <div class="col-md-3">
                <!-- <img class="emp-img mr-2 rounded-circle" src="{{data.picture}}" /> -->
                <a routerLink="/user/profile/{{data.employeeId}}">{{data.firstName}}</a>
              </div>
              <div class="col-md-1">
                {{data.active}}
              </div>
              <div class="col-md-3">
                {{data.mobileNumber}}<br />
                {{data.emailId}}

              </div>
              <div class="col-md-2">
                {{data.hireDate}}
              </div>
              <div class="col-md-2">
                {{data.empSalary}}
              </div>
              <div class="col-md-1 text-center">
                  <a   routerLink="/user/profile/{{data.employeeId}}">
                    <span class="fa fa-pencil" aria-hidden="true"></span>
                  </a>
                  &nbsp;&nbsp;
                  <a style= "color:#007bff;cursor: pointer" (click)="delete(data.employeeId)">
                    <span class="fa fa-trash" aria-hidden="true"></span>
                  </a>
                  
                 <!-- <div class="dropdown">
                    
                  <label for="dropdown-1" class="btn btn-dropdown"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></label>
                  
                  <input class="dropdown-open" type="checkbox" id="dropdown-1" aria-hidden="true" hidden />
                  
                  <label for="dropdown-1" class="dropdown-overlay"></label>
                  
                  <div class="dropdown-inner">
                    <ul>
                      <li>{{idx}},{{data.employeeId}},{{data.firstName}}</li>
                      <li> <a routerLink="/user/profile/{{data.employeeId}}">Edit</a></li>
                      <li><a style= "cursor: pointer" (click)="delete(data.employeeId)">Delete</a></li>
                     
                    </ul>
                  </div>
                </div>  -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page text-center w-100">
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1"><i class="fa fa-long-arrow-left pr-2" aria-hidden="true"></i> Previous</a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next <i class="fa fa-long-arrow-right pl-2" aria-hidden="true"></i></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

</section>