<div class="row">
  <div class="card pt-5 m-auto bg-transparent border-0">
    <div class="card-body text-center">
      <h2 class="font-weight-light text-center my-4">Register</h2>
      <form autocomplete="off">
        <div class="form-row m-3">
          <div class="col-md-6 col-sm-12">
            <input type="text" class="form-control" placeholder="First name">
          </div>
          <div class="col-md-6 col-sm-12">
            <input type="text" class="form-control" placeholder="Last name">
          </div>
        </div>
        <div class="form-row m-3">
          <div class="col-md-8 col-sm-12">
            <input type="email" class="form-control" placeholder="Email Address">
          </div>
        </div>
        <div class="form-row m-3">
          <div class="col-md-8 col-md-12">
            <input type="password" class="form-control" placeholder="Password">
          </div>
        </div>
        <div class="form-row m-3">
          <div class="col-md-7 col-sm-12">
            <input type="text" class="form-control" placeholder="Company Name">
          </div>
          <div class="col-md-2 col-sm-12">
            <input type="text" class="form-control" placeholder="Zip Code">
          </div>
          <div class="col-md-3 col-sm-12">
            <input type="text" class="form-control" [textMask]="{mask: phonemask}" placeholder="(___) ___-____">
          </div>
        </div>
        <div class="form-row m-3">
          <div class="col-md-8 col-sm-12">
            <input type="text" class="form-control" placeholder="www.example.com">
          </div>
        </div>
        <div class="form-row m-3">
          <div class="col-md-6 col-sm-12">
            <input type="text" class="form-control" placeholder="Number of Employees">
          </div>
          <div class="col-md-6 col-sm-12">
            <input type="text" class="form-control" placeholder="Your Role">
          </div>
        </div>
        <div class="form-row mt-3">
          <div class="form-group pl-4 pt-1">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="regCheckBox">
              <label class="custom-control-label" for="regCheckBox">
                I agree to HRMS <a href="#">Terms</a> & <a href="#">Privacy policy</a>.
              </label>
            </div>
          </div>
        </div>
        <div class="form-row m-3">
          <div class="col-md-6 col-sm-12">
            <button type="submit" class="btn btn-custom btn-blue text-white shadow-sm w-100 m-0">Sign
              Up</button>
          </div>
        </div>
      </form>
      <hr>
      <p class="text-center my-4">Have an Account with Us <a routerLink="/login">Sign In</a></p>
    </div>
  </div>
</div>
