<nav class="navbar navbar-expand-lg navbar-light p-0">
  <div class="container-fluid">

    <button type="button" id="sidebarCollapse" class="btn rounded-circle shadow-sm bg-light">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-align-justify"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item pt-1 pr-2">
          <form action="" class="search-form nav-link">
            <div class="form-group has-feedback">
              <label for="search" class="sr-only">Search</label>
              <input type="text" class="form-control" name="search" id="search" placeholder="search">
              <i class="fa fa-search form-control-feedback" aria-hidden="true"></i>
            </div>
          </form>
        </li>
        <li class="nav-item dropdown pt-2 px-3 border-left">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fa fa-comment" aria-hidden="true"></i>
            <span class="badge badge-pill badge-secondary shadow-sm">1</span>
          </a>
          <div class="dropdown-menu user-dropdown rounded-0 border-0 shadow-sm p-0" aria-labelledby="navbarDropdown">
            <div class="dropdown-header text-center bg-light border-0">
              <strong>You have 1 Messages</strong>
            </div>
            <a class="dropdown-item" href="#">
              <div class="message">
                <div>
                  <small class="text-muted">John Doe</small>
                  <small class="text-muted float-right mt-1">Just now</small>
                </div>
                <div class="text-truncate font-weight-bold">
                  <span class="fa fa-exclamation text-danger"></span> Important message</div>
                <div class="small text-muted text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                  sed
                  do eiusmod tempor incididunt...</div>
              </div>
            </a>
          </div>

        </li>
        <li class="nav-item dropdown pt-2 px-3 border-left">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fa fa-bell" aria-hidden="true"></i>
            <span class="badge badge-pill badge-secondary shadow-sm">1</span>
          </a>
          <div class="dropdown-menu user-dropdown rounded-0 border-0 shadow-sm p-0" aria-labelledby="navbarDropdown">
            <div class="dropdown-header text-center bg-light border-0">
              <strong>You have 1 Notifications</strong>
            </div>
            <a class="dropdown-item" href="#">
              <div class="message">
                <div>
                  <small class="text-muted">John Doe</small>
                  <small class="text-muted float-right mt-1">Just now</small>
                </div>
                <div class="text-truncate font-weight-bold">
                  <span class="fa fa-exclamation text-danger"></span> Important message</div>
                <div class="small text-muted text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                  sed
                  do eiusmod tempor incididunt...</div>
              </div>
            </a>
          </div>

        </li>
        <li class="nav-item dropdown border-left">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <span class="px-2">Giacobo Lefeaver</span>
            <img class="user-portrait rounded-circle shadow" src="assets/static/user01-320x320.jpg">            
          </a>
          <div class="dropdown-menu user-dropdown rounded-0 border-0 shadow-sm p-0" aria-labelledby="navbarDropdown">
            <div class="user-dropdown-info dropdown-info px-5 py-3">
              <div class="user-info-portrait">
                <img class="d-block m-auto rounded-circle shadow" src="assets/static/user01-320x320.jpg" />                 
              </div>
              <div class="text-center">
                <h4 class="font-weight-bold mb-0">Giacobo Lefeaver</h4>
                <small>Blue Space Technologies, INC</small>
              </div>
            </div>
            <div class="dropdown-header bg-light border-0">
              <strong>Account</strong>
            </div>
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="#">Account Changes</a>
            <a class="dropdown-item" href="#">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>