<div class="row" >
  <div class="card pt-5 m-auto bg-transparent border-0">
    <div class="card-body">
      <h2 class="font-weight-light text-center my-4">Log in to your account</h2>
      <form #frm="ngForm" autocomplete="off">
        <div class="form-group floating-field">
          <label class="form-label" for="Email">
            <img src="assets/static/icons/login/avatar.svg">
          </label>
          <input type="text" class="form-control login-form rounded-0" id="Email" [(ngModel)]="userName" name="userName"
            #userNameText="ngModel" aria-describedby="emailHelp" placeholder="Username">
        </div>
        <div class="form-group floating-field">
          <label class="form-label" for="Password">
            <img src="assets/static/icons/login/key.svg">
          </label>
          <input type="password" class="form-control login-form rounded-0" id="Password" [(ngModel)]="password"
            name="password" #passwordText="ngModel" placeholder="Password">
        </div>
        <div class="form-group form-check my-4">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="RememberCheck">
            <label class="custom-control-label" for="RememberCheck">Remember me</label>
          </div>
        </div>
        <button type="submit" class="btn btn-custom btn-blue text-white shadow-sm w-100 m-0 rounded-0" (click)="login()">Sign In</button>
        <div class="text-center my-4">
          <a href="#">Need Help accessing your account?</a>
        </div>
      </form>
      <hr>
      <p class="text-center my-4">Do you have an account with us <a routerLink="/register">Register Now</a></p>
    </div>
  </div>
</div>
